header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  height: 40px;
  background-color: rgb(116, 116, 116);
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin: 0 20px;
}

header a {
  color: #fff;
}

.IcondarkMode {
  width: 24px;
  height: 24px;
  border: 2px solid rgb(139, 139, 139);
  border-radius: 50%;

}